mat-grid-tile {
  background-color: aqua;
  position: left;
  max-width: 150px;
  height: 0;
  padding: 90px;
  margin-right: 20px;
  margin-left: 170px;
  margin-bottom: 400px;
}

mat-card {
  position: center;
  max-width: auto;
  padding: auto;

}

video {
  position: center;
  max-width: auto;
  padding: auto;
}

/* video::-webkit-media-controls {
  display: none !important;
} */

.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}