mat-grid-tile {
  background-color: aqua;
  margin-left: 170px;

}

mat-card {
  position: center;
  max-width: auto;
  padding: auto;

}

video {
  position: center;
  max-width: auto;
  padding: auto;
}





/* video::-webkit-media-controls {
  display: none !important;
} */

.example-container {
  /* align-content: center;
  position: top;
  width: 175px;
  height: 200px;
  margin: 12px;
  border: 5px solid pink; */

  width: 175px;
  height: 400px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  border: 5px solid pink;
}

mat-drawer-content {
  position: top;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}