mat-grid-tile {
  background-color: rgb(240, 239, 239);
  margin-left: 170px;
  grid-gap: 15px;
  grid-template-columns: 200px;


}

mat-card {
  position: center;
  max-width: auto;
  padding: auto;

}

video {
  position: center;
  max-width: auto;
  padding: auto;
}

img {
  max-width: 140px;
  height: auto;

}






/* video::-webkit-media-controls {
  display: none !important;
} */

.example-container {
  /* align-content: center;
  position: top;
  width: 175px;
  height: 200px;
  margin: 12px;
  border: 5px solid pink; */

  width: 190px;
  height: auto;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  border: 5px solid rgb(240, 239, 239);
}

mat-drawer-content {
  position: top;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-image {
  font-size: 6em;
  color: lightgray;
}

.item-price {
  font-weight: bold;
}

mat-card-actions {
  position: bottom;
  padding: 12px;
  display: flex;
}

button {

  position: absolute;
  right: 100px;
  bottom: 0px;
}

mat-card-content {
  position: absolute;
  right: 70px;
  bottom: 0;

}

mat-grid-tile {
  background: yellow;
}