<mat-card>
    <mat-card-content>
        <div
            *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
            <!-- searchmode -->
            <form #searchFormData="ngForm" class="example-form">
                <mat-card-actions>
                    <button type="button" (click)="toggle('resMode');getFilterData(searchFormData.value);"
                        mat-raised-button [disabled]="!searchFormData.valid" color="primary">Search</button>
                    
                    <span class="small-spacer"></span>
                    <span matTooltip="Show Recent Results">
                        <mat-icon color="primary" (click)="toggle('resMode');getData();">cached</mat-icon>
                    </span>
                </mat-card-actions>
                <mat-form-field class="example-form">
                    <input matInput [disabled]="name.value > ''" type="text" placeholder="userid" id="userid"
                        name="userid" #userid="ngModel" ngModel minlength="3" maxlength="50">
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [disabled]="category.value > ''" type="text" placeholder="Exercise Name" id="name"
                        name="name" #name="ngModel" ngModel minlength="3" maxlength="50">
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [matDatepicker]="pickerfromdt" placeholder="From Date" id="fromdt" name="fromdt"
                        #fromdt="ngModel" [ngModel]="currentDate7">
                    <mat-datepicker-toggle matSuffix [for]="pickerfromdt"></mat-datepicker-toggle>
                    <mat-datepicker #pickerfromdt></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [matDatepicker]="pickertodt" placeholder="To Date" id="todt" name="todt"
                        #todt="ngModel" [ngModel]="currentDate">
                    <mat-datepicker-toggle matSuffix [for]="pickertodt"></mat-datepicker-toggle>
                    <mat-datepicker #pickertodt></mat-datepicker>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>
<!-- edit mode -->
<ng-template #showEditMode>
    <form #editDataForm="ngForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
        <input type="hidden" name="_id" id="_id" [ngModel]="myDocData._id" required>
        <mat-error *ngIf="savedChanges">
            Data is saved.
            <label class="small-spacer"></label>
            <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
        </mat-error>
        <div *ngIf="!savedChanges">
            <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
            <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
            <mat-card-actions align="start">
                <button type="submit" mat-raised-button
                    [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Update</button>
                <span class="med-spacer"></span>
                <span matTooltip="Search">
                    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
                </span>
                <span class="small-spacer"></span>
                <span matTooltip="Shwo Recent Results">
                    <mat-icon color="primary" (click)="toggle('resMode');getData();">cached</mat-icon>
                </span>
            </mat-card-actions>
                <mat-form-field>
                <input matInput placeholder="Category" name="category" id="category" ngModel required minlength="1">
                <mat-hint align="end">eg. Upper Body</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Sub Category" name="scategory" id="scategory" ngModel required minlength="1">
                <mat-hint align="end">eg. Shoulder</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea matInput placeholder="*IMP*: Search use Tags Text" name="tags" id="tags" ngModel required minlength="1"></textarea>
                <mat-hint align="end">eg. Shoulders, Upper Body</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Exercise Name" name="Exercise Name" id="Exercise Name" ngModel required minlength="1">
                <mat-hint align="end">eg. Shouler</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Repetitions" name="Repetitions" id="Repetitions" ngModel pattern="[0-9]+">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Sets" name="Sets" id="Sets" ngModel pattern="[0-9]+">
                <mat-hint align="end">eg. 5 on each arm</mat-hint>
            </mat-form-field>
        </div>
    </form>
</ng-template>


<ng-template #showResMode>

    <!--results page here-->
    <span class="example-icon"></span>
    <span class="example-icon"></span>
    <span matTooltip="Add New">
        <mat-icon color="primary" (CLICK)="TOGGLE('addMode');">add</mat-icon>
    </span>
    <span class="example-icon"></span>
    <span matTooltip="Show Recent Results">
        <mat-icon color="primary" (click)="toggle('searchMode');">search</mat-icon>
    </span>

    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Recent Results">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="scategory">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SubCategory</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.scategory}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Exercise name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Repetitions</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="_id">
                <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Show Picture" *ngIf="row.path"
                        (click)="getPic(row.path);this.showHostSelfie=true;">
                        <mat-icon color="primary">photo_camera</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Remove Picture" *ngIf="row.path"
                        (click)="deleteproductPic(row._id);this.showHostSelfie=false;">
                        <mat-icon color="primary">camera_roll</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Take Picture"
                        (click)="this.myDocId=row._id;this.takeHostSelfie=true;" class="label-error" *ngIf="!row.path"
                        class="label-error">
                        <mat-icon>camera_roll</mat-icon>
                    </button>
                    <span matTooltip="Edit">
                        <button mat-icon-button (click)="getDoc(row._id)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </span>
                    <span matTooltip="Delete">
                        <button mat-icon-button (click)="deleteDoc(row._id)">
                            <mat-icon color="primary">delete</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</ng-template>