.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

video {
    position: relative;
    max-width: auto;
    padding: auto;
    margin-left: 25%;
}

mat-grid-list {
    background-color: rgb(255, 255, 255);

}

.reps {
    position: relative;
    margin-left: 30%;
}

mat-dialog-actions {
    position: center;
}