.example-form {
    min-width: 300px;
    max-width: 900px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

video {
    text-align: center;
    max-width: auto;
    padding: 10px;
}

mat-grid-list {
    background-color: rgb(255, 255, 255);

}

.reps {
    position: relative;
    margin-left: 30%;
}

mat-dialog-actions {
    position: center;
}

div.modal-body {
    height: 500px;
    width: 500px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: justify;
}