<h2 mat-dialog-title> Exercise Program</h2>

<!--
<div>
  <mat-grid-list cols="4" [gutterSize]="'5px'">


      <video width="320" height="240" controls>
        <source src="../assets/videos/IMG_1756.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>


      <video width="320" height="240" controls>
        <source src="../assets/videos/IMG_1757.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    



    <mat-form-field class="reps">
      <h4 mat-dialog-title> Repetitions </h4>
      <mat-label>Repetitions</mat-label>
      <select matNativeControl required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <h4 mat-dialog-title> Sets </h4>

      <mat-label>Sets</mat-label>
      <select matNativeControl required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </mat-form-field>
  </mat-grid-list>
</div>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="openSnackBar('Added to Workout Plan')"
    mat-dialog-close>Proceed</button>

</mat-dialog-actions>

-->


<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Modal header</h3>
    </div>

    <div class="modal-body">
      <div class="container col-md-12">
        <div class="row">
          <div class="col-md-3">
            <video width="320" height="240" controls>
              <source src="../assets/videos/IMG_1756.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <div class="col-md-3">
            <video width="320" height="240" controls>
              <source src="../assets/videos/IMG_1757.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <div class="col-md-3">
            <video width="320" height="240" controls>
            <source src="../assets/videos/IMG_1758.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          </div>

          <div class="col-md-3">
            <video width="320" height="240" controls>
            <source src="../assets/videos/IMG_1759.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          </div>

          <div class="col-md-3">
            <video width="320" height="240" controls>
            <source src="../assets/videos/IMG_1760.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Modal header</h3>
        </div>

        <div class="modal-body">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        1st col 3
                    </div>

                     <div class="col-md-3">
                         2nd col 3
                     </div>

                     <div class="col-md-3">
                         3rd col 3</div>
                     </div>
                 </div>
             </div>
         </div>
    </div>

    -->
